<app-header titulo="Date Time"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Fecha de Nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime placeholder="Nacimiento"
                    display-format="YYYY MMMM DD"
                    cancelText="Cancelar!"
                    [ngModel]="fechaNacimiento.toISOString()"
                    (ionChange)="cambioFecha($event)">
      </ion-datetime>
    </ion-item>
    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime placeholder="yyyy-mm-dd"
                    display-format="YYYY MMMM DD"
                    min="2015-01-01"
                    max="2015-12-31"
                    >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime placeholder="yyyy"
                    display-format="YYYY"
                    min="2015"
                    max="2021"
                    value="2020"
                    >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Personalizado</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions"
                    [(ngModel)]="customDate"
                    >
      </ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
