<app-header titulo="Progress Bar"></app-header>

<ion-content>
  <ion-progress-bar [value]="percentage"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-range
        min="0" max="100"
        dualKnobs="false" pin="true"
        snaps="true" step="0.5"
        ticks="true" value="0"
        color="primary"
        (ionChange)="rangeChange($event)">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
