<app-header titulo="Grid"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        Hola, item {{ i + 1 }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-header>Header</ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laudantium dolorem odit similique quas animi ex voluptate veniam maiores aliquid voluptatem ad numquam placeat fugiat, veritatis ut commodi quidem quae?
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
