<app-header titulo="List Reorder"></app-header>

<ion-content>
  <ion-list>
    <ion-reorder-group  [disabled]=false
                        (ionItemReorder)="reorder($event)">
      <ion-item *ngFor="let per of personajes">
        <ion-label>{{ per }}</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-button expand="full"
              (click)="onClick()">
    Save
  </ion-button>
</ion-content>
