<app-header titulo="Segment"></app-header>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChange($event)" value="Todos">

    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="DC comics">
      <ion-label>DC comics</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Marvel comics">
      <ion-label>Marvel comics</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let heroe of (superHeroes | async) | filtro: publisher:'publisher'; let i = index">
      <ion-label>
        <h3>{{ heroe.superhero }} <small>{{ heroe.alter_ego }}</small></h3>
        <p>
          {{heroe.first_appearence}}
        </p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        {{ heroe.publisher }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="(superHeroes | async) === null">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text width="70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text with="100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        <ion-skeleton-text width="40%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
