<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toogleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button> -->
      <ion-menu-button  color="primary"
                        menu="miMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of menuItems | async"
              [routerLink]="item.redirecTo"
              detail>
      <ion-icon slot="start" [name]="item.icon"></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
