<app-header [titulo]="titulo"></app-header>


<ion-content>
  <ion-button color="primary"
              expand="full"
              (click)="presentAlert()">
    Presentar Alerta
  </ion-button>
  <ion-button color="secondary"
              expand="full"
              (click)="presentAlertPrompt()">
  Presentar Alerta
  </ion-button>
</ion-content>
