<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Medium</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <ion-button class="top-20" expand="full" routerLink="/alert" color ="tertiary">
    Alert
  </ion-button>

  <ion-grid class="top-20">
    <ion-row>
      <ion-col>
        <ion-button class="top-20" expand="full" routerLink="/action-sheet" color ="tertiary">
          Action Sheet
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="top-20" expand="full" routerLink="/avatar" color ="tertiary">
          Avatar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" class="top-20" fill="clear">Clear</ion-button>
  <ion-button expand="full" class="top-20" fill="outline">Outline</ion-button>
  <ion-button expand="full" class="top-20" fill="solid">Solid</ion-button>
  <ion-button expand="full" class="top-20" >Default</ion-button>

</ion-content>
