<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>searchbar</ion-title>
  </ion-toolbar>
  <ion-searchbar  animated
                  debounce="500"
                  (ionChange)="buscar($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="albums.length > 0">
    <ion-item *ngFor="let album of albums | filtro:textSearch: 'title'">
      <ion-label>{{album.id}}-{{album.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
