<app-header titulo="Action Sheet"></app-header>

<ion-content>
  <ion-button color="primary"
              expand="full"
              (click)="presentActionSheet()">
    Mostrar Action Sheet
  </ion-button>
</ion-content>
