<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1,1,1,1]">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      Usuario {{ i }}
    </ion-label>
  </ion-chip>

  <ion-list *ngFor="let i of [1,1,1,1,1,1,1,1]">
    <ion-item slot="start">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        Usuario {{ i }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
