<app-header titulo="Input"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Nombre: {{ nombre || 'No hay nombre'}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input  type="text"
                  [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>Validate: {{ formulario.valid }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input  type="email"
                    name="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [(ngModel)]="usuario.email"
                    required
                    >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input  type="password"
                    name="psw"
                    [(ngModel)]="usuario.psw"
                    required
                    >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="!formulario.valid">Submit</ion-button>
  </form>
</ion-content>
