<ion-menu side="start" menuId="miMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let item of menuItems | async">
        <ion-item
          [routerLink]="item.redirecTo"
        >
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
