<app-header titulo="Slides"></app-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides">
      <div class="img-padding">
        <img [src]="slide.img">
      </div>
      <div>
        <h3 [innerHTML]="slide.titulo"></h3>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
