<ion-header>
  <ion-toolbar>
    <ion-title>Modal-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  color="primary"
              expand="full"
              (click)="salirSinArgs()">
  Salir sin argumentos
 </ion-button>
 <ion-button  color="primary"
              expand="full"
              (click)="salirConArgs()">
  Salir con argumentos
</ion-button>
<p>{{ nombre }} -- {{ pais }}</p>
</ion-content>
